//********** Global **********//

$accent-color: #032541;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 83%;
  max-width: 1380px;
}

//********** Navigation **********//

.desktop-nav {
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color: $accent-color;
  align-items: center;
  padding: 0px 40px;
  i {
    cursor: pointer;
    font-size: 30px;
    color: white;
  }
  ul {
    display: flex;
    width: 300px;
    justify-content: space-between;
  }
  li {
    list-style: none;
    a {
      color: white;
      font-weight: 800;
      font-size: 20px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

//********** Navigation Mobile **********//

.bar {
  height: 4px;
  background-color: white;
  width: 35px;
  margin: 7px 0px 0px 0px;
  transition: all 0.2s;
  transform-origin: 0% 50%;
  cursor: pointer;
  position: inherit;
}

#mobileNav {
  width: 100%;
  display: none;
  background-color: $accent-color;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  position: fixed;
  z-index: 205;
  i {
    color: white;
    font-size: 40px;
  }
  &.open {
    #menu-nav {
      position: fixed;
      right: 0px !important;
      bottom: 0px !important;
      transition: all 0.3s;
      z-index: -1;
    }
    #top-nav {
      transform: rotate(45deg) translate(0, -10px);
    }
    #middle-nav {
      display: none;
    }
    #bottom-nav {
      transform: rotate(-45deg) translate(0, +10px);
    }
  }
  .mobile-nav-content {
    position: fixed;
    /* z-index: 50; */
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: -100%;
    bottom: 0px !important;
    background: $accent-color;
    height: 100%;
    width: 100%;
    transition: all 0.3s;
    text-align: center;
    ul {
      list-style: none;
      height: 320px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      li {
        color: black;
        width: 100%;
        padding: 15px 0px 15px 15px;
        a {
          text-decoration: none;
          font-weight: bold;
          color: white;
          text-transform: capitalize;
          font-size: 30px;
        }
      }
    }
  }
}

// Recherche

.search-container {
  background: url("/Ressources/interstellar.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -350px;
  display: flex;
  justify-content: center;
  align-items: center;
  input[type="text"] {
    background-color: #e7e7e7;
    width: 65%;
    height: 60px;
    border: none;
    padding: 20px;
    font-size: 15px;
    outline: none;
    border-radius: 5px 0px 0px 5px;
  }
  button {
    background-color: #e7e7e7;
    height: 60px;
    border: none;
    outline: none;
    padding: 20px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 0px 5px 5px 0px;
  }
  ::placeholder {
    color: rgba(0, 0, 0, 0.25);
    font-weight: 600;
  }
}

// Tendances

.tendances-container {
  margin-top: 40px;
  .title-tendances {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.title-tendances h2 {
  margin-right: 20px;
  font-size: 36px;
  font-weight: 500;
}

.title-tendances button {
  width: 150px;
  min-width: 150px;
  height: 30px;
  cursor: pointer;
  margin-right: 20px;
  font-size: 18px;
}

.title-tendances .active {
  color: white;
  background-color: $accent-color;
  border: solid 2px $accent-color;
}

.title-tendances .no-active {
  transition: all 0.3s;
  color: $accent-color;
  background-color: white;
  border: solid 2px $accent-color;
}

.title-tendances .no-active:hover {
  transition: all 0.3s;
  color: white;
  background-color: $accent-color;
  border: solid 2px $accent-color;
}

.grid-tendances {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.movie {
  margin-bottom: 20px;
  cursor: pointer;
  img {
    transition: all 0.3s;
  }
  .score {
    width: 235px;
    display: flex;
    justify-content: flex-end;
    p {
      margin-top: -40px;
      height: 50px;
      width: 50px;
      border-radius: 50px;
      background-color: $accent-color;
      border: solid 3px white;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
    }
  }
  h5 {
    transition: all 0.3s;
    color: $accent-color;
    font-size: 20px;
  }
  &:hover {
    img {
      box-shadow: rgba(0, 0, 0, 0.55) 8px 8px 5px;
    }
    h5 {
      text-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2px;
    }
  }
}

// Populaires

.wrapper-pop {
  display: flex;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.192);
  padding-top: 30px;
  margin-bottom: 30px;
}

//********** Page Focus **********//

// Banner

.focus-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .banner {
    background: url(./Ressources/Spiderman/bg.png);
    padding: 40px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    .content {
      width: 80%;
      max-width: 1400px;
      display: grid;
      grid-template-columns: 1fr 3fr;
      place-content: center;
      grid-gap: 30px;
      .right {
        width: 68%;
        h1,
        h2,
        p,
        span,
        .score {
          color: white;
        }
        .top {
          margin-bottom: 20px;
          display: flex;
          align-items: center;
          h1 {
            font-size: 1.5em;
          }
          .score {
            margin-right: 20px;
            height: 63px;
            width: 63px;
            background-color: $accent-color;
            border-radius: 50%;
            border: solid 2px white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
          }
        }
        .synopsis {
          h2 {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

// Casting

.focus-container {
  .casting {
    width: 83%;
    max-width: 1380px;
    margin-top: 40px;
    margin-bottom: 100px;
    h2 {
      margin-bottom: 40px;
      font-size: 36px;
      font-weight: 400;
    }
    .actors {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .actor {
        margin-bottom: 30px;
        img {
          transition: all 0.3s;
          margin-bottom: 10px;
        }
        &:hover {
          img {
            box-shadow: rgba(0, 0, 0, 0.55) 8px 8px 5px;
          }
        }
      }
    }
  }
}

//********** Footer **********//

footer {
  background-color: $accent-color;
  display: flex;
  align-items: center;
  height: 60px;
  p {
    color: white;
    margin-left: 30px;
  }
}

//********** Responsive **********//

@media screen and (max-width: 1151px) {
  .search-container {
    background-position-y: -1px;
  }
  .focus-container {
    .banner {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      .content {
        grid-template-columns: 1fr;
        .right {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
  }
  .search-container {
    background-position-y: -10px;
  }
  #mobileNav {
    display: flex;
  }
  .focus-container {
    .banner {
      padding-top: 120px;
    }
  }
}

@media screen and (max-width: 560px) {
  .title-tendances {
    flex-direction: column;
    text-align: center;
    h2 {
      margin-bottom: 20px;
    }
    button {
      margin-bottom: 20px;
    }
  }
  .search-container {
    height: 200px;
    align-items: flex-end;
    margin-bottom: 40px;
    background: white;
  }
  .tendances-container {
    margin-top: 0px;
  }
  .grid-tendances {
    margin-top: 10px;
    justify-content: center;
  }
  .focus-container {
    .top {
      display: block !important;
      .score {
        margin-bottom: 20px;
      }
    }
    .casting {
      .actors {
        justify-content: center;
        .actor {
          width: 80%;
          img {
            width: 100%;
          }
          h4 {
            font-size: 1.6em;
          }
          span {
            font-size: 1.1em;
          }
        }
      }
    }
  }
}
